* {
    margin : 0;
    padding: 0;
    width: 100%;
}
/* COMMON CLASSES */
.place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.place-opp {
    display: flex;
    justify-content: space-between;
}
.app{
    height: 100%
}
/* DASHBOARD PAGE */
.dashboard > .row{
    min-height: 100vh;
}

.header h5{
    background-color: red;
    text-align: center;
    color: #efefef;
    font-weight: 600;
    padding: 5%;
    border-radius: 20px;
}

.row div {
    padding: 2.5%;
}

/* EVENT LIST */
.event_list {
    max-height: 45vh;
    margin-bottom: 20px;
    padding: 0.5%;
}

/* CARDS */
.event_card{
    border-radius: 25px;
}
.card:hover {
    box-shadow: 0 0 7px 1px black;
}
.card_style{
    padding: 2.5% !important; 
    align-items: center;
}
.icon{
    margin: 0 auto !important;
    font-size: xx-large;
}

/* CREATE EVENT PAGE */
.create_event {
    padding: 0 2.5%;
    width: 100%;
}
.create_event>div >div > button {
    border-radius: 50px;
}
.top_btn {
    display: inline !important;
}
input,select , textarea{
    margin: 5% 0;
}


/* PREVIEW PAGE */
.preview .img{
    padding: 0!important;
    margin: 0 !important;
}
